<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student Bean -->
    <bean id="student" class="com.example.SpringDI_4.Student">

        <!-- Constructor Injection -->
        <constructor-arg value="453"/>
        <constructor-arg value="Poojitha"/>
        <constructor-arg value="Spring Framework"/>
        <constructor-arg value="2024"/>

        <!-- Setter Injection -->
        <property name="course" value="Advanced Spring"/>
        <property name="year" value="2025"/>

    </bean>
</beans>